
h1{
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(255, 251, 251);    /* Light gray */
}

.avator{
    max-width: 60%;
    max-width: 60%;
    width: 10%;
    height: 10%;
    object-fit: 'contain';
}

.subline{
    font-size: 1.5rem
}

.panel{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.footnote{
    text-align: center;
    background-color: rgba(34, 38, 56, 0.911);
    padding: 20px 10px;
    color: white;
}

.left-panel{
    flex: 2;
    box-sizing: border-box;
}

.inside-panel{
    margin: 10px 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .inside-panel{
        margin: 10px 10px;
        padding: 10px 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .panel{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .avator{
        max-width: 60%;
        max-width: 60%;
        width: 60%;
        height: 60%;
        object-fit: 'contain';
    }
}

.right-panel{
    flex: 1;
    box-sizing: border-box;
}


a{
    text-decoration: none;
}

a:link,a:visited{
    text-decoration: none;
    color: rgb(2, 166, 221);
}
a:hover{
    text-decoration: underline;
    color: rgb(4, 192, 192);
}
a:active{
    text-decoration: underline;
    color: rgb(2, 166, 221);
}
ul{
    list-style-type: none;
}

table,
td {
    border: 1px solid #333;
}

.ip-container{
    display: flex;
    justify-content: center;
    height:400px;
    text-align: center;
    font-size: 1rem;
}

.calc-container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height:400px;
    text-align: center;
    font-size: 2rem;
}

.calc-container button {
    font-size: 16px;
    font-weight: bold;
  
    color: #FFFFFF;
    background-color: #5995DA;
  
    border: none;
    border-radius: 3px;
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .calc-container button:hover {
    background-color: #76AEED;
  }
  
  .calc-container button:active {
    background-color: #407FC7;
  }