#body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#web_app_box {
    width: 80%;
    padding: 2em;
    text-align: justify;
}

#link_section {
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

article p:last-child {
    text-align: center;
}
