#body {
    display: flex;
    flex-direction: column;
}

.invitation_header {
    flex: 1
}

.invitation_header h1,p {
    text-align: center;
}

#include_main {
    flex: 9
}

#include_main {
    width: 100%;
    margin: 0;
    border: none;
}

footer {
    /* footer should already be displayed in included page */
    display: none;
}
